@import '../base/font-size.scss';

.categoryDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    h3 {
        font-size: $fontSizeS;
    }
    h1 {
        font-family: 'Volkhov';
        font-size: $fontSizeXL;
        color: #181E4B;;
    }
}

.destinationsTilesContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}